<div class="card-footer bg-transparent border-top p-0" id="new-medication-time-card">
  <li class="list-group-item border-0">
    <%= render 'form', medication_time: @medication_time %>
  </li>
</div>
